.pdp-wrapper {
  max-width: 100rem;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding: 20px;
}

.image-gallery {
  width: 50%;
  display: grid;
  gap: 10px;
  grid-template: 33% 33% 33% / 50% 50%;
}

.image-gallery img {
  width: 100%;
}

.image-gallery img:nth-child(1) {
  grid-area: 1 / 1 / span 2 / span 2;
}

.image-gallery img:nth-child(2) {
  grid-area: 3 / 1 / span 1 / span 1;
}

.image-gallery img:nth-child(2) {
  grid-area: 3 / 2 / span 1 / span 1;
}

.product-summary {
  width: 50%;
}

.cta {
  display: flex;
  flex-direction: column;
}

.cta p:nth-child(1) {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.cta p:nth-child(2) {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}

.cta p:nth-child(3) {
  font-size: 20px;
}

.cta select {
  width: 40%;
  margin: 10px;
  margin-left: 0;
}

.product-description {
  margin: 30px 10px;
}

.upsell {
  max-width: 100rem;
}
