.home-wrapper {
  width: 98%;
  margin: 5px;
}

.sort-and-search {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.category-sort {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 5px;
}

.category-sort select {
  border: 1px solid lightgray;
  border-radius: 5px;
  color: rgb(80, 80, 80);
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100px;
}

.searchbar {
  display: flex;
  gap: 5px;
  align-items: center;
}

.hide-search {
  display: none;
  visibility: none;
}

.gallery {
  width: 98%;
  display: grid;
  grid-template: auto / 20% 20% 20% 20% 20%;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.home-product-wrapper {
  display: flex;
  flex-direction: column;
}

.home-product {
  width: 100%;
  margin-bottom: 20px;
}

.home-product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.home-product-description {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  height: 64px;
}

.home-product-description p {
  margin: 0;
}

@media screen and (max-width: 900px) {
  .gallery {
    grid-template: auto / 25% 25% 25% 25%;
  }
}

@media screen and (max-width: 650px) {
  .gallery {
    grid-template: auto / 33% 33% 33%;
  }
}

@media screen and (max-width: 400px) {
  .home-wrapper {
    margin: none;
  }
  .gallery {
    width: 95%;
    grid-template: auto / 50% 50%;
  }
}
