.header-wrapper {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 5%;
}

.header-search {
  width: 33%;
}

.header-search img {
  width: 10%;
}

.header-logo {
  width: 33%;
  text-align: center;
}

.header-logo img {
  width: 20%;
}

.header-buttons {
  width: 33%;
  text-align: right;
}

.header-buttons button:nth-child(2) {
  margin-left: 10px;
}

.header-categories {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.header-categories a:hover {
  text-decoration: underline;
}
